@import "tailwindcss";


/* * {
  margin:0;
  box-sizing: border-box;
} */



/* @import "tailwindcss"; */

@theme {
  /* --color-back:#A7C7E7; */
  --color-back:#EADDC8;
  --color-sidebar: #B29B89;
  --color-text: #3D2F25;
  --color-section:#F5F0E4;
  --color-footbg:#5B4636;

  
 
}